body{
    background-color: #ede7e3;
	padding: 20px;
	font-family: 'PT Serif', serif;
    font-weight: 150;
}

img {
    border: 10px;
    border-style: dashed;
    border-radius: 10%;
    border-color: #ff2276;
    width: 30%;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img:hover{
    border: 10px;
    border-style: solid;
    border-radius: 10%;
    border-color: #4722ff;
    width: 30%;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    padding: 20px;
}

ul{
    display: block;
}

nav{
    background-color: #d5dbff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
}

h1{
    font-size: large;
    color: #9200af;
    font-weight: bold;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
}

li{
    display: inline-block;
    margin: 15px;
    padding: 0px 10px;
}

.active{
    color: rgb(228, 71, 71);
    border: 2px solid;
    border-radius: 20px;
    
}

dt{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

dd{
    border: #4722ff;
    border-radius: 10px;
    border-style: dashed;
    margin-bottom: 20px;
    padding: 10px;
}